files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "namespace": "CWAgent",
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "InstanceId": "${aws:InstanceId}"
          },
          "metrics_collected": {
            "mem": {
              "measurement": [
                {
                  "name": "mem_used_percent",
                  "rename": "MemoryUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 1
            },
            "cpu": {
              "measurement": [
                {
                  "name": "cpu_usage_active",
                  "rename": "CPUUtilization",
                  "unit": "Percent"
                }
              ],
              "totalcpu": true,
              "metrics_collection_interval": 1
            },
            "procstat": [
              {
                "pattern": "(^|/)node .*dist/backend/index\\.js",
                "measurement": [
                  "memory_rss",
                  "cpu_usage"
                ],
                "metrics_collection_interval": 1
              }
            ],
            "disk": {
              "measurement": [
                {
                  "name": "used_percent",
                  "rename": "DiskUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            }
          }
        }
      }

container_commands:
  start_cloudwatch_agent:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a append-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
