files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "namespace": "CWAgent",
          "metrics_collected": {
            "mem": {
              "measurement": [
                {
                  "name": "mem_used_percent",
                  "rename": "MemoryUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 60
            },
            "disk": {
              "measurement": [
                {
                  "name": "used_percent",
                  "rename": "DiskUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            }
          },
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "InstanceId": "${aws:InstanceId}"
          }
        }
      }

commands:
  01_install_cloudwatch_agent:
    command: |
      if ! command -v amazon-cloudwatch-agent-ctl &> /dev/null; then
        wget -q https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm
        rpm -U ./amazon-cloudwatch-agent.rpm
        rm -f ./amazon-cloudwatch-agent.rpm
      fi
    test: "[ ! -f /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl ]"

  02_stop_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
        -a fetch-config \
        -m ec2 \
        -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json \
        -s
    ignoreErrors: true
