###############################################################################
# DOCKER DEPLOYMENT NOTE
# 
# When using Docker containers with Elastic Beanstalk, container_commands run
# on the EC2 HOST, not inside the Docker container. This means they can't
# access your application code or run yarn commands.
#
# For Docker deployments, migrations are handled in the docker-entrypoint.sh
# script, which runs INSIDE the container when it starts.
#
# See: /docker-entrypoint.sh
#
# This file is kept for documentation purposes but is NOT actively used.
###############################################################################

# container_commands:
#   01_migrate_database:
#     command: "yarn prisma:migrate:prod"
#     leader_only: true
