###############################################################################
# Install PostgreSQL client on EC2 host for direct database access
# This allows running psql commands without entering the Docker container
###############################################################################

packages:
  yum:
    postgresql15: []
