files:
  "/tmp/add_authorized_keys.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      AUTHORIZED_KEYS="/home/ec2-user/.ssh/authorized_keys"
      mkdir -p /home/ec2-user/.ssh
      touch "$AUTHORIZED_KEYS"
      chown ec2-user:ec2-user /home/ec2-user/.ssh
      chmod 700 /home/ec2-user/.ssh

      add_key() {
        local key="$1"
        if ! grep -qF "$key" "$AUTHORIZED_KEYS"; then
          echo "$key" >> "$AUTHORIZED_KEYS"
        fi
      }

      # Chris Pyle
      add_key "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMqV5gwot3utGLPGpAPWr8znU1cjMn1RE7jN8htvaOMt aws-eb"

      chown ec2-user:ec2-user "$AUTHORIZED_KEYS"
      chmod 600 "$AUTHORIZED_KEYS"

commands:
  add_authorized_keys:
    command: "/tmp/add_authorized_keys.sh"
    ignoreErrors: false
